<div class="nav_bar">
        <div><%= link_to "Home", root_path%></div>
        <div><%= link_to "Best Sellers", blogs_path%></div>
        <div><%= link_to "Authors", authors_path%></div>
        <div><%= link_to "Bios", bios_path%></div>
        <div><%= link_to "Subjects", subjects_path%></div>
        <div><%= link_to "Titles", titles_path%></div>
    </div>